*{
  padding: 0;
  margin: 0;
}
body{
  background-image: url(../IMG/BeFunky-photo.jpg);
}
#nav{
  margin: 0 auto;
  width: 1500px;
  height: 1000px;
  background-color: #24303c;
  margin-top: 100px;
  margin-bottom: 100px;
}
.clear{
  clear: both;

}

.capa{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(233, 150, 122, 0.315);
  z-index: -1;
  top: 0;left: 0;
}
/*Estilos para el encabezado*/
.header{
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;left: 0;
}
.container{
  width: 90%;
  max-width: 1200px;
  margin: auto;
  
}
.container .primer-menu, .logo{
  float: left;
  line-height:100px;
  

}
.container .primer-menu label{
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}
.logo h1{
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  
}
.container .menu{
  float: right;
  line-height: 100px;
}
.container .menu a{
  display: inline-block;
  padding: 15px;
  line-height: normal;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
  font-size: 15px;
  margin-right: 5px;
}
.container .menu a:hover{
  border-bottom: 2px solid #c7c7c7;
  padding-bottom: 5px;
}
/*Fin de Estilos para el encabezado*/

/*Menù lateral*/
#primer-menu{
  display: none;
}
.container-menu{
  position: absolute;
 
  width: 100%;
  height: 100vh;
  top: 0;left: 0;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}
.redessociales{
  width: 25px;
  height: 25px;
  padding-left: 20px;
  position: relative;
  top: 5px;
  
  
  
}
#primer-menu:checked ~ .container-menu{
  opacity: 1;
  visibility: visible;
}
.cont-menu{
  
  
  width: 170px;
  
  position: relative;
  transition: all 500ms ease;
  transform: translateX(-100%);
}
#primer-menu:checked ~ .container-menu .cont-menu{
  transform: translateX(0%);
}
.cont-menu nav{
  transform: translateY(15%);
}
.cont-menu nav a{
  display: block;
  text-decoration: none;
  padding: 20px;
  color: #c7c7c7;
  border-left: 5px solid transparent;
  transition: all 400ms ease;
}
.cont-menu nav a:hover{
  border-left: 5px solid #c7c7c7;
  background: #1f1f1f;
}
.cont-menu label{
  position: absolute;
  right: 5px;
  top: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}



#festival-footer {
  background-color: #333;
  color: white;
  padding: 1.5em 0;
}

#festival-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 1.5em;
}

#festival-footer p {
  margin: 0;
}

#festival-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

#festival-footer ul li {
  margin-left: 1.5em;
}

#festival-footer a {
  color: white;
  text-decoration: none;
}

.galeria{
  font-family: 'open sans';
}

.galeria h1{
  text-align: center;
  margin:20px 0 15px 0;
  font-weight: 300;
}



.contenedor-imagenes{
  display:flex;
  width: 85%;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius:3px;
}

.contenedor-imagenes .imagen{
  width: 32%;
  position: relative;
  height:250px;
  margin-bottom:5px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75)
}
.imagen img{
  width: 100%;
  height:100%;
  object-fit: cover;
}

.efecto{
  position: absolute;
  bottom: 0;
  left: 0;
  background:rgba(0, 118, 192, 0.781) ;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: .5s ease;
}

.efecto h2{
  color: #fff;
  font-weight: 300;
  font-size:30px;
  position: absolute;
  top: 50%;
  left:50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.imagen:hover .efecto{
  height:100%;
  cursor: pointer;
}

